
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Word of Ra{% endblock %}</title>
    
</head>
<body>
    <header>
        <nav>
            <ul>
               
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->
                <!-- Add more nav links as needed -->
                 <!-- navbar.html or base.html (wherever the logout link/button is) -->
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Word of Ra. All rights reserved.</p>
    </footer>
</body>
</html>
